.container-fluid, .navbar, .jumbotron .row{padding: 0 !important; }

body, .jumbotron .row{margin: 0;}
@font-face {
    font-family: "Slabo";
    src: url('{{asset("assets/fonts/slabo27px-regular-webfont.ttf")}}');
    src: url('{{asset("assets/fonts/slabo27px-regular-webfont.woff")}}') format("woff");
}
h2{font-family: "Slabo"; color: #CA9C3D;}
p{color: #707070; }
/* .navbar{background: transparent;margin-bottom: -50px;} */
.navbar-light .navbar-nav .nav-link{color: #fff !important; transition: color 0.3s linear; -webkit-transition: color 0.3s linear; -moz-transition: color 0.3s linear; }
.banner-content{padding: 14rem 0;}
.banner-content{color: #fff;}
.banner-content-pages{height: 300px;}
.page-banner-title{text-align: center;background: #27305D;
 padding: 35px;
 margin-top: -65px !important;
 margin-bottom: 65px;}
.page-banner-title h1{color: #fff;}
.navigation-container{margin-top: 20px;}
.banner-custom{margin-top: -111px;}
.navbar-light .navbar-nav li a:hover{color:s #CA9C3D !important;}
.footer{background: #fff; color: #CA9C3D;}
.our-commitment-row h2:after{
    content: ""; 
    display: block;
    width: 20%;
    padding-top: 10px; 
    border-bottom: 5px solid #CC9B4E;
}

.our-commitment-row{    background: #f7f7f791;
    padding: 3rem;
    margin-right: -115px;
    z-index: 999;
    margin-bottom: 80px; padding: 3rem !important;}
.card{border: none !important;}

 @media (min-width: 992px){
  .ldg-navigation .navbar-expand-lg .navbar-nav .nav-link {padding-right: 2.5rem;}
 }



 